/* Fix the Video Background */
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes the video fill the screen */
    z-index: -1;
}

/* Fix the Black Box Layout */
.black-box {
    border-radius: 25px;
    border: 2px solid #30363D;
    max-width: 90%;
    width: 1000px;
    height: 450px;
    background-color: #24292F;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Courier New', monospace;
    overflow: hidden;
    position: relative;
}

.line-number {
    position: absolute;
    left: 15px;
    top: 20px;
    color: #555f69;
    text-align: right;
    user-select: none;
}

.code-area {
    margin-left: 40px;
    color: #c9d1d9;
}

/* Fixed the links layout */
.imgs-container {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.links-title {
    margin-top: 40px;
    color: white;
}